#agencySignupForm {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: calc(var(--i-padding) + 6px);
    justify-items: center;
  }

  .leftSection {
    display: flex;
    width: 40%;
    justify-content: center;
    flex-direction: column;
  }