.agencyHeadingText {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    color: white;
    font-size: 37px;
    line-height: 50px;
    letter-spacing: 5px;
}

.agencyContent {
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 18px;
    margin-top: 25px;
}