:root {
    --primary: #86B817;
    --secondary: #FE8800;
    --light: #F5F5F5;
    --dark: #14141F;
}

.fw-medium {
    font-weight: 600 !important;
}

.fw-semi-bold {
    font-weight: 700 !important;
}
/* .mr2{
    margin-right: 2px;
  } */

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 0px;
}


/*** Navbar ***/
.navbar-light .navbar-nav .nav-link {
    font-family: 'Nunito', sans-serif;
    position: relative;
    margin-right: 25px;
    /* padding: 35px 0; */
    /* color: #FFFFFF !important; */
    font-size: 18px;
    font-weight: 600;
    outline: none;
    transition: .5s;
}

.sticky-top.navbar-light .navbar-nav .nav-link {
    padding: 20px 0;
    color: var(--dark) !important;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--primary) !important;
}

.navbar-light .navbar-brand img {
    max-height: 60px;
    transition: .5s;
}

.sticky-top.navbar-light .navbar-brand img {
    max-height: 45px;
}

@media (max-width: 991.98px) {
    .sticky-top.navbar-light {
        position: relative;
        background: #FFFFFF;
    }

    .navbar-light .navbar-collapse {
        margin-top: 15px;
        border-top: 1px solid #DDDDDD;
    }

    .navbar-light .navbar-nav .nav-link,
    .sticky-top.navbar-light .navbar-nav .nav-link {
        padding: 10px 0;
        margin-left: 0;
        color: var(--dark) !important;
    }

    .navbar-light .navbar-brand img {
        max-height: 45px;
    }
}

@media (min-width: 992px) {
    .navbar-light {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        border-bottom: 1px solid rgba(256, 256, 256, .1);
        z-index: 999;
    }
    
    .sticky-top.navbar-light {
        position: fixed;
        background: #FFFFFF;
    }

    .navbar-light .navbar-nav .nav-link::before {
        position: absolute;
        content: "";
        width: 0;
        height: 2px;
        bottom: -1px;
        left: 50%;
        background: var(--primary);
        transition: .5s;
    }

    .navbar-light .navbar-nav .nav-link:hover::before,
    .navbar-light .navbar-nav .nav-link.active::before {
        width: calc(100% - 2px);
        left: 1px;
    }

    .navbar-light .navbar-nav .nav-link.nav-contact::before {
        display: none;
    }
}


/*** Hero Header ***/
.hero-header {
    background: linear-gradient(rgba(20, 20, 31, .7), rgba(20, 20, 31, .7)), url(/src/img/frontimg.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.home_head_div{
    
    font-size: 8vmin;
    text-align: center;
    font-family: 'Merienda', cursive;
    color: whitesmoke;
    text-shadow:  4px 2px #120246;
}
.sub_home_head_div{
    font-size: 3.5vmin;
    text-align: center;
    font-family: 'Unbounded', cursive;
    color: rgb(0, 0, 0);
}

.breadcrumb-item + .breadcrumb-item::before {
    color: rgba(255, 255, 255, .5);
}


/*** Section Title ***/
.section-title {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
}

.section-title::before {
    position: absolute;
    content: "";
    width: calc(100% + 80px);
    height: 2px;
    top: 4px;
    left: -40px;
    background: var(--primary);
    z-index: -1;
}

.section-title::after {
    position: absolute;
    content: "";
    width: calc(100% + 120px);
    height: 2px;
    bottom: 5px;
    left: -60px;
    background: var(--primary);
    z-index: -1;
}

.section-title.text-start::before {
    width: calc(100% + 40px);
    left: 0;
}

.section-title.text-start::after {
    width: calc(100% + 60px);
    left: 0;
}


/*** Service ***/
.service-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    transition: .5s;
}

.service-item:hover {
    background: var(--primary);
}

.service-item * {
    transition: .5s;
}

.service-item:hover * {
    color: var(--light) !important;
}


/*** Destination ***/
.destination img {
    transition: .5s;
}

.destination a:hover img {
    transform: scale(1.1);
}


/*** Package ***/
.package-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
}

.package-item img {
    transition: .5s;
}

.package-item:hover img {
    transform: scale(1.1);
}


/*** Booking ***/
.booking {
    /* background: linear-gradient(rgba(15, 23, 43, .7), rgba(15, 23, 43, .7)), url(../img/booking.jpg); */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*** Team ***/
.team-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
}

.team-item img {
    transition: .5s;
}

.team-item:hover img {
    transform: scale(1.1);
}

.team-item .btn {
    background: #FFFFFF;
    color: var(--primary);
    border-radius: 20px;
    border-bottom: 1px solid var(--primary);
}

.team-item .btn:hover {
    background: var(--primary);
    color: #FFFFFF;
}


/*** Testimonial ***/
.testimonial-carousel::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

.testimonial-carousel::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

@media (min-width: 768px) {
    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 200px;
    }
}

@media (min-width: 992px) {
    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 300px;
    }
}

.testimonial-carousel .owl-item .testimonial-item,
.testimonial-carousel .owl-item.center .testimonial-item * {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-item {
    background: var(--primary) !important;
    border-color: var(--primary) !important;
}

.testimonial-carousel .owl-item.center .testimonial-item * {
    color: #FFFFFF !important;
}

.testimonial-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border: 1px solid #CCCCCC;
    border-radius: 15px;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    background: var(--primary);
    border-color: var(--primary);
}


/*** Footer ***/
.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    font-weight: normal;
    border: 1px solid #FFFFFF;
    border-radius: 35px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}


:root {
    --font: "Lato", sans-serif;
    --max-width: 1400px;
    --radius: 12px;
    --btn-radius: 4px;
    --i-padding: 1rem;
    --o-padding: 2rem;
  }
  
  * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
  }
  
  body {
    /* margin: 0 var(--o-padding);
      
    color: black;
    background: -webkit-gradient(
      linear,
      left bottom,
      left top,
      from(#c5c5c5),
      to(#f5f5f5)
    );
    background: -o-linear-gradient(bottom, #c5c5c5, #f5f5f5);
    background: linear-gradient(0deg, #c5c5c5, #f5f5f5);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; */
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 100vh;
  }
   
  .container1 {
    max-width: var(--max-width);
    width: 100%;
    min-height: 600px;
    height: 100%;
    margin: auto;
    overflow: hidden;
    position: relative;
    border-radius: var(--radius);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-shadow: 0 10px 1rem #0004;
    box-shadow: 0 10px 1rem #0004;
  }
  
  .back {
    position: absolute;
    left: 0;
    top: 0;
    background: url("https://i.imgur.com/EulHW7S.jpeg") center / cover no-repeat;
    height: 100%;
    width: 100%;
    z-index: -1;
  }
  
  .brand {
    width: 40%;
    padding: var(--i-padding);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
    position: relative;
  }
  
  .brand .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 5px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    position: absolute;
    left: 49%;
    top: 5rem;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .brand .logo h1 {
    color: #392f32;
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 34px;
    font-weight: 400;
    letter-spacing: -1px;
  }
  .brand .logo .name {
    padding-left: 2px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 20px;
    letter-spacing: 12px;
    font-weight: 400;
  }
  
  .brand .copyright {
    font-size: 13px;
    font-weight: 300;
    text-align: center;
    color: #fffa;
  }
  .brand .copyright a {
    -webkit-transition: color 0.2s ease;
    -o-transition: color 0.2s ease;
    transition: color 0.2s ease;
    color: #fffa;
  }
  .brand .copyright a:hover {
    color: #fff;
  }
  
  .formWrapper {
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: var(--o-padding);
    background: #fff1;
    border-left: solid 1px #0001;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
  }
  
  .formWrapper .form {
    width: 100%;
    max-width: 504px;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: var(--o-padding);
  }
  
  .formWrapper .form h2 {
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    padding-bottom: 10px;
    border-bottom: solid 1px #0001;
  }
  
  form {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: calc(var(--i-padding) + 6px);
    justify-items: center;
  }
  
  .inputWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
  }
  .inputWrapper input {
    border: none;
    font-size: 16px;
    outline: 0;
    border-radius: var(--btn-radius);
    background: #fff2;
    border: solid 1px rgba(16, 13, 13, 0.54);
    padding: var(--i-padding);
    min-width: 20%;
    cursor: text;
    
  }
  .inputWrapper2 textarea {
    border: none;
    font-size: 15px;
    outline: 0;
    border-radius: var(--btn-radius);
    background: #fff2;
    border: solid 1px rgba(16, 13, 13, 0.54);
    padding: var(--i-padding);
    min-width: 40%;
    cursor: text;
    margin-left:-1rem;
  }
  .inputWrapper1 input {
    border: none;
    font-size: 15px;
    outline: 0;
    border-radius: var(--btn-radius);
    background: #fff2;
    border: solid 1px rgba(16, 13, 13, 0.54);
    padding: var(--i-padding);
    min-width: 40%;
    cursor: text;
    margin-left: 6rem;
  }
  .inputWrapper select {
    border: none;
    font-size: 16px;
    outline: 0;
    border-radius: var(--btn-radius);
    background: #fff2;
    border: solid 1px #0001;
    padding: var(--i-padding);
    min-width: 13rem;
    cursor: text;
  }
  .inputWrapper label {
    cursor: text;
    padding: 4px 6px;
    color: #0006;
    position: absolute;
    left: calc(1rem - 4px);
    top: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  
  
  .inputWrapper input:focus + label,
  .inputWrapper input:valid + label {
    color: #fff;
    text-shadow: 0 1px 4px #0009;
    top: -14px;
    left: 11px;
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }
  
  #register {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    min-height: initial;
    height: 47px;
    width: 100%;
    max-width: 230px;
    background: black;
    padding: var(--i-padding);
    color: #fff;
    border: unset;
    border-radius: var(--btn-radius);
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  #register:hover {
    background: #181616;
  }
  #login {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 47px;
    width: 100%;
    max-width: 230px;
    background: #4dbf42 ;
    padding: var(--i-padding);
    color: #fff;
    border: unset;
    border-radius: var(--btn-radius);
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  #login:hover {
    background:#74bd6d;
  }
  
  /* #login {
    font-size: 14px;
    font-weight: 300;
    color: #fff9;
    margin: 0 auto;
    margin-top: -20px;
  } */
  #login a {
    text-decoration: none;
    color: #fff;
  }
  
  @media (max-width: 860px) {
    .container {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }
    .container .brand,
    .container .formWrapper {
      width: 100%;
    }
    .container .brand {
      min-height: 160px;
    }
    .container .brand .copyright {
      display: none;
    }
  } 


  .cardDec{
    text-decoration: none;
    color: #00c48c;
  }
  .cardDec:hover{
    color: #029067;
  }
 
/* Dasheboard */

.c-dashboardInfo {
    margin-bottom: 15px;
  }
  .c-dashboardInfo .wrap {
    background: #ffffff;
    box-shadow: 2px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
    text-align: center;
    position: relative;
    overflow: hidden;
    padding: 40px 25px 20px;
    height: 100%;
  }
  .c-dashboardInfo__title,
  .c-dashboardInfo__subInfo {
    color: #6c6c6c;
    font-size: 1.18em;
  }
  .c-dashboardInfo span {
    display: block;
  }
  .c-dashboardInfo__count {
    font-weight: 600;
    font-size: 2.5em;
    line-height: 64px;
    color: #323c43;
  }
  .c-dashboardInfo .wrap:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    content: "";
  }
  
  .c-dashboardInfo:nth-child(1) .wrap:after {
    background: linear-gradient(82.59deg, #00c48c 0%, #00a173 100%);
  }
  .c-dashboardInfo:nth-child(2) .wrap:after {
    background: linear-gradient(81.67deg, #0084f4 0%, #1a4da2 100%);
  }
  .c-dashboardInfo:nth-child(3) .wrap:after {
    background: linear-gradient(69.83deg, #0084f4 0%, #00c48c 100%);
  }
  .c-dashboardInfo:nth-child(4) .wrap:after {
    background: linear-gradient(81.67deg, #ff647c 0%, #1f5dc5 100%);
  }
  .c-dashboardInfo:nth-child(5) .wrap:after {
    background: linear-gradient(82.59deg, #00c48c 0%, #00a173 100%);
  }
  .c-dashboardInfo:nth-child(6) .wrap:after {
    background: linear-gradient(69.83deg, #0084f4 0%, #00c48c 100%);
  }
  .c-dashboardInfo__title svg {
    color: #d7d7d7;
    margin-left: 5px;
  }
  .MuiSvgIcon-root-19 {
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 24px;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    user-select: none;
    flex-shrink: 0;
  }
  