#agency-navbar {
  .header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 4;
    background-color: white;
    font-weight: 600;
  }
  .agent-nav-links {
    list-style-type: none;
    margin-bottom: 0;
  }
  .agent-nav-links .navbar-link {
    text-decoration: none;
    font-size: 18px;
  }

  .nav-logo-link {
    width: 180px;
    height: 50px;
    text-decoration: none;
  }

  .nav-logo-link h5 {
    margin-bottom: 0;
  }
  .nav-logo-link img {
    width: 50px;
    height: 50px;
  }
  .header-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: var(--transition);
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
    padding-block: 15px;
    z-index: 1;
  }

  .header.active .header-top {
    position: fixed;
    background: var(--gunmetal);
  }

  .header-top .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: flex-start;
    align-items: center;
  }

  .header-bottom {
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
  }

  .header-bottom .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 15px;
  }

  .social-list {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .social-link {
    color: var(--white);
    padding: 8px;
    border: 1px solid hsla(0, 0%, 100%, 0.3);
    border-radius: 50%;
    font-size: 15px;
    transition: var(--transition);
  }

  .social-link:is(:hover, :focus) {
    background: hsla(0, 0%, 100%, 0.2);
  }

  .header .btn {
    --padding: 4px 20px;
  }

  .header .navbar {
    position: fixed;
    top: 0;
    right: -300px;
    width: 100%;
    max-width: 300px;
    height: 100%;
    background: var(--white);
    pointer-events: none;
    transition: 0.15s ease-in;
    z-index: 3;
  }

  .navbar.active {
    right: 0;
    visibility: visible;
    pointer-events: all;
    transition: 0.25s ease-out;
  }

  .navbar-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 15px;
  }

  .navbar-top .logo img {
    width: 150px;
  }

  .nav-close-btn {
    font-size: 20px;
    color: var(--bright-navy-blue);
  }

  .nav-close-btn ion-icon {
    --ionicon-stroke-width: 80px;
  }

  .navbar-list {
    border-top: 1px solid hsla(0, 0%, 0%, 0.1);
  }

  .navbar-list li {
    border-bottom: 1px solid hsla(0, 0%, 0%, 0.1);
  }

  .navbar-link {
    padding: 15px 20px;
    color: var(--myBlack);
    font-weight: var(--fw-500);
    font-size: var(--fs-4);
    transition: var(--transition);
    text-transform: capitalize;
  }

  .navbar-link:is(:hover, :focus) {
    color: var(--myBlack);
  }

  .overlay {
    position: fixed;
    inset: 0;
    background: var(--black);
    opacity: 0;
    pointer-events: none;
    z-index: 2;
    transition: var(--transition);
  }

  .overlay.active {
    opacity: 0.7;
    pointer-events: all;
  }
}
